#root{
  font-family: 'Josefin Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  height: 100vh;
  background: no-repeat url("../bg-mobile-light.jpg");
  background-position:top  ;
}
.container{

  width: 93%;
  margin: 20% auto 15% auto;
  /* padding: 0px 3% 0px 3%; */
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6%;
  flex-grow: none;
  
  flex-shrink: none;
}
.circle{
  width: 30px;
  height: 30px;
  margin-right: 15px;
/* margin-left:15px ;   */
  border:  hsl(236, 33%, 92%) solid 2px ;
  border-radius: 50%;
  /* background: linear-gradient(0deg, hsl(280, 87%, 65%) 0%, hsl(192, 100%, 67%) 100%); */
  /* background-image: no-repeat url("../icon-check.svg"); */
  /* background-position: top; */
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toDoCreator{
  display: flex;
  align-items: center;
  background-color:   hsl(0, 0%, 98%);
  border-radius: 15px;
  margin: 3% auto 3% auto;
  height: 50px;
  color: hsl(236, 9%, 61%);
  padding: 0px 5% 0px 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=text],input::placeholder{
  
  border: 0px;
  outline:0px;
  font-size: 1rem;
  color: hsl(236, 9%, 61%);
  background-color:   hsl(0, 0%, 98%);

  
}

.inside{
  width: 50%;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  margin: 0 auto 0 auto;
  justify-content: center;
}
.active{
  color: hsl(220, 98%, 61%)
}
.insideToDoItem{
  display: flex;
  align-items: center;
}
.toDoItem{
  display: flex;
  justify-content: space-between;
  /* padding-right: 15px; */
  border-radius: 15px 15px 0px 0px;
  border-bottom: solid black 1px;

  margin-bottom: 0px;
}
.status{
  /* border:solid green 2px ; */
  margin-top: 0px;
  border-radius: 0px 0px 15px 15px;
  border: none;
}
.sm-font{
  font-size: 10px;
}